mdb-carousel{
    align-content: center;
}

.contener_slideshow
  {
    width:1500px;
    height:500px;
    overflow: hidden;
    position: relative;
    background-image:green;
  }
  .slid_1, .slid_2, .slid_3, .slid_4, .slid_5
  {
    position: absolute;
    width:1500px;
    height:500px;
  }
  .slid_1{left: 0;}
  .slid_2{left: 1500px;}
  .slid_3{left: 2000px;}
  .slid_4{left: 2500px;}
  .slid_5{left: 3000px;}
  .contener_slide
  {
    width: 3000px;
    height: 500px;
    left:0px;
    position: absolute;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-name: anim_slide;
    -moz-animation-duration: 10s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-name: anim_slide;
    -ms-animation-duration: 10s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-name: anim_slide;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    animation-name: anim_slide;
  }
  @-webkit-keyframes anim_slide 
  {
    0% {left:0px;}
    22% {left:0px;}
    33% {left:-1500px;}
    45% {left:-2000px;}
    66% {left:-2500px;}
    90% {left:-3000px;}
    100%{left:-3500px;}
  }
  @-moz-keyframes anim_slide 
  {
    0% {left:0px;}
    22% {left:0px;}
    33% {left:-1500px;}
    45% {left:-2000px;}
    66% {left:-2500px;}
    90% {left:-3000px;}
    100%{left:-3500px;}
  }
  @-ms-keyframes anim_slide 
  {
    0% {left:0px;}
    22% {left:0px;}
    33% {left:-1500px;}
    45% {left:-2000px;}
    66% {left:-2500px;}
    90% {left:-3000px;}
    100%{left:-3500px;}
  }
  @keyframes anim_slide 
  {
    0% {left:0px;}
    22% {left:0px;}
    33% {left:-1500px;}
    45% {left:-2000px;}
    66% {left:-2500px;}
    90% {left:-3000px;}
    100%{left:-3500px;}
  }
  /********************************
* Basics
*********************************/
* {
    box-sizing: border-box;
}

body,
button,
input,
select,
optgroup,
textarea {
    color: #3d4852;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

h1 {
    font-size: 2rem;
    margin: 2rem auto 1rem;
    line-height: 1;
}

h2 {
    font-size: 1.25rem;
    margin-top: 0;
}

a {
    color: inherit;
    transition: 0.25s all ease-in-out;
}

a:visited {
    color: #3d4852;
}

a:hover,
a:focus,
a:active {
    background-color: #3d4852;
    color: white;
}

a:focus {
    outline: thin solid #3d4852;
}

a:hover,
a:active {
    outline: 0;
}

a.button {
    align-items: center;
    background-color: #3d4852;
    border: 1px solid #3d4852;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-flex;
    padding: 0.25rem 0.75rem;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

a.button:hover,
a.button:focus {
    background-color: #58636F;
    box-shadow: 0 0 2px 2px #bac6d3;
}

a.button:focus {
    outline: 1px solid #3d4852;
}

a.button:visited {
    color: #fff;
}

ul {
    margin: 0 0 1.5rem;
    padding: 0;
}

li {
    display: inline-block;
}

svg {
    fill: currentColor;
    width: 1.5rem;
    height: 1.5rem;
}

img {
    height: auto;
    margin-bottom: .5rem;
    max-width: calc(100% + 2rem);
    position: relative;
    left: -1rem;
    right: -1rem;
}

p {
    margin: 0 0 .5rem;
}

main {
    padding: 1rem 2rem;
    margin: auto;
}

header {
    padding: 1rem 2rem;
    text-align: center;
}

.card {
    border: 1px solid #bac6d3;
    border-radius: 8px;
    padding: 1rem;
}

/********************************
* Carousel styles
*********************************/
.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
}

.carousel-item {
    flex: 1 0 250px;
    margin-left: 1rem;
    scroll-snap-align: start;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #3d4852;
    border-radius: 3px;
}


/********************************
* Breakpoints
*********************************/
@media screen and (min-width: 576px) {
    .carousel-item {
        flex-basis: 300px;
    }
}

@media screen and (min-width: 992px) {

    body,
    button,
    input,
    select,
    optgroup,
    textarea {
        font-size: 1.125rem;
    }

    h1 {
        font-size: 2.75rem;
    }

    .carousel-item {
        flex-basis: 325px;
    }
}

@media screen and (min-width: 1280px) {
    h1 {
        font-size: 4rem;
    }

    .carousel-item {
        flex-basis: 450px;
    }
}

@media screen and (min-width: 1600px) {

    body,
    button,
    input,
    select,
    optgroup,
    textarea {
        font-size: 1.25rem;
    }
}

