<div align="center">
  <div class="contener_slideshow">
    <div class="contener_slide">
      <div class="slid_1"><img src="assets/logo/lfp.png" /></div>
      <div class="slid_2"><img src="assets/logo/logoihorse.png" /></div>
      <div class="slid_3"><img src="assets/logo/UniversityPeel.png" /></div>
      <div class="slid_4">
        <img
          src="https://images-1.partnerportal.ionos.fr/items/d2afe9b9-de52-48bb-8d0c-d3a37980e8d6/profiles/3c98d78b-1c50-42cf-923d-d81ea471ca7a/badges/normal_blue_eco"
        />
      </div>
    </div>
  </div>
</div>

<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img
        class="d-block w-100"
        src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
        alt="First slide"
      />
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Light mask</h3>
      <p>First text</p>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="view w-100">
      <img
        class="d-block w-100"
        src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
        alt="Second slide"
      />
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Strong mask</h3>
      <p>Secondary text</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img
        class="d-block w-100"
        src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
        alt="Third slide"
      />
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Slight mask</h3>
      <p>Third text</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
