#row1 {
}
#Front-end {
  background-color: blue;
  padding: 10px 20px;
  margin: 2px;
}

#Back-end {
  background-color:  #b47cff;
  padding: 20px 30px;
  margin: 2px;
  border: brown;
}
#firstCol{
  background-color: #7c4dff;
 padding: 10px 20px;
 margin: 2px;
}
