<h1 align="center">Notre Expertise</h1>
<div class="container">
  <div id="row1" class="row justify-content-center">
    <div id="firstCol" class="col-md-3">
      <h3>Front-end</h3>
    </div>
    <div id="Back-end" class="col lg-col-4 text-center animated fadeInLeft">
      <img
        src="assets/serviceImage/Front-end/javaScript.png"
        height="50"
        width="50"
      />
    </div>
    <div id="Back-end" class="col lg-col-4 text-center animated fadeInLeft">
      <img
        src="assets/serviceImage/Front-end/angular.png"
        height="50"
        width="50"
      />
    </div>
  </div>
  <div class="row">
    <div id="firstCol" class="col-md-4">
      <h3>Back-end</h3>
    </div>
    <div id="Back-end" class="col lg-col-4 text-center animated fadeInLeft">
      <img
        src="assets/serviceImage/Back-end/ASPNet.jpg"
        height="50"
        width="60"
      />
    </div>
    <div id="Back-end" class="col lg-col-4 text-center animated fadeInLeft">
      <img
        src="assets/serviceImage/Back-end/Cscharp.jpg"
        height="50"
        width="60"
        alt="C#"
      />
    </div>
    <div id="Back-end" class="col lg-col-4 text-center animated fadeInLeft">
      <img
        src="assets/serviceImage/Back-end/Java.png"
        height="50"
        width="60"
        alt="Java"
      />
    </div>

    <div id="Back-end" class="col lg-col-4 text-center animated fadeInLeft">
      <img
        src="assets/serviceImage/Back-end/php.png"
        height="50"
        width="60"
        al=".Net"
      />
    </div>
    <div
      id="Back-end"
      class="col lg-col-4 text-centertext-center animated fadeInLeft"
    >
      <img
        src="assets/serviceImage/Back-end/symfony.png"
        height="50"
        width="60"
        al=".Net"
      />
    </div>
  </div>
  <div class="row">
    <div id="firstCol" class="col-md-5">
      <h3>DataBase</h3>
    </div>
    <div id="Back-end" class="col lg-col-4 text-center animated fadeInLeft">
      <img
        src="assets/serviceImage/Database/Firebase.jpg"
        height="70"
        width="100"
      />
    </div>
    <div id="Back-end" class="col lg-col-4 text-center animated fadeInLeft">
      <img
        src="assets/serviceImage/Database/mongoDB.png"
        height="50"
        width="100"
      />
    </div>
    <div id="Back-end" class="col lg-col-4 text-center animated fadeInLeft">
      <img
        src="assets/serviceImage/DataBase/MySQL.png"
        height="50"
        width="60"
      />
    </div>
    <div id="Back-end" class="col lg-col-4 text-center animated fadeInLeft">
      <img
        src="assets/serviceImage/Database/SQLite.png"
        height="50"
        width="60"
      />
    </div>
  </div>
  <div class="row">
    <div id="firstCol" class="col-md-8">
      <h3>Cloud</h3>
    </div>
    <div id="Back-end" class="col lg-col-4 text-center animated fadeInLeft">
      <img src="assets/serviceImage/cloud/aws.png" height="50" width="60" />
    </div>
  </div>
</div>
