.title{
    text-align: center;
    padding-top: 50px ;

}

section{
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

section>p{
    text-align: justify;
}

#one{
    background-color: yellow;
}