/* You can add global styles to this file, and also import other style files */
@import "~ng-uikit-pro-standard/assets/scss/core/colors";
@import "~ng-uikit-pro-standard/assets/scss/core/variables";
@import "~ng-uikit-pro-standard/assets/scss/core/variables-pro";

@import "~ng-uikit-pro-standard/assets/scss/sections-pro/_contacts-pro.scss";

.navbar{
    background-color: #253251 !important;
}
/*
@font-face {
    font-family: hennypenny;
    src: url(assets/fonts/HennyPenny-Regular.ttf)  format("truetype");
    font-family: lobster;
    src: url(assets/fonts/Lobster-Regular.ttf)  format("truetype");

  }*/

  .carousel-inner {
    position: absolute;
    width: 353px;
    margin-left: -90px;
  }
  
  mdb-carousel .carousel-indicators {
    display: none;
  }