<!-- check link 

-->
<hr style="border: 1px dotted blueviolet" />
<section
  class="container text-center"
  style="font-family: lobster, sans-serif !important; margin-bottom: -0rem"
>
  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Nos Partenaires</h2>
  <div class="container-fluid">
    <div class="row">
      <!-- col 1 -->
      <div class="view overlay zoom col-md align-self-center">
        <a
          herf="https://polytech-services-nancy.fr/en/home/?doing_wp_cron=1615232404.8878989219665527343750"
        >
          <img
            src="assets/logo/polytech.png"
            class="img-fluid"
            alt="Polytech_Nancy - Partenaire officiel"
            width="400px"
            height="200px"
          />
        </a>
      </div>
      <!-- col 2 -->
      <div class="view overlay zoom col-md align-self-center">
        <a herf="http://peel.univ-lorraine.fr">
          <img
            src="assets/logo/UniversityPeel.png"
            class="img-fluid"
            alt="zoom"
          />
        </a>
      </div>
      <!-- col 3 -->
      <div class="view overlay zoom col-md align-self-center">
        <a
          href="https://partnernetwork.ionos.fr/partner/asokumar.it?origin=PartnerBadge"
        >
          <img
            src="https://images-1.partnerportal.ionos.fr/items/d2afe9b9-de52-48bb-8d0c-d3a37980e8d6/profiles/3c98d78b-1c50-42cf-923d-d81ea471ca7a/badges/normal_blue_eco"
            class="img-fluid"
            alt="IONOS - Partenaire officiel"
          />
        </a>
      </div>
    </div>
    <br />
    <!-- row 2 -->
    <div class="row">
      <!-- col 1 -->
      <div class="col-sm align-self-center">
        <div class="view overlay zoom col-sm align-self-center">
          <a herf="https://lfpondichery.net/">
            <img src="assets/logo/lfp.png" class="img-fluid" alt="zoom" />
          </a>
        </div>
      </div>

      <!-- col 2 -->
      <div class="col-sm align-self-center">
        <div class="view overlay zoom col-sm align-self-center col-md-auto">
          <a href="https://ihorsetech.com/">
            <img
              src="assets/logo/logoihorse.png"
              class="img-fluid"
              alt="zoom"
              width="auto"
              height="auto"
            />
          </a>
        </div>
      </div>
      <!-- col 3 -->
      <div class="col-sm align-self-center">
        <div
          class="view overlay zoom col-sm align-self-center col-md-auto"
        ></div>
      </div>
    </div>
  </div>
</section>

<hr style="border: 1px dotted blueviolet" />
