row{
    background-color: blue;
}

#col-1{
    padding: auto;
    margin: 2px 2px;
    background-color: aqua;
}
#col-2{
    padding: auto;
    margin: 2px 2px;
    background-color: aqua;
}
#col-3{
    padding: auto;
    margin: 2px 2px;
    background-color: aqua;
}